500 ICON MOVEABLE PURE LOADONCALL DISCARDABLE "snake.ico"
501 icon "snake.ico"

100 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "b.bmp"
101 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "a.bmp"
102 BITMAP MOVEABLE PURE LOADONCALL DISCARDABLE "x.bmp"